.App {
  text-align: center;
}


.links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top:20px ;
  font-size:18px;
  color:#fff;
}
.links a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.about{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about p {
  width: 20%;
}
.info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info p{
  width: 30%;
}
.info h1{
  width: 30%;
}